.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .gallery-item {
    width: calc(20% - 10px); /* Adjust width and margin as needed */
    margin: 5px; /* Adjust margin as needed */
    overflow: hidden;
    height: 200px; /* Fixed height for the gallery items */
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .gallery-item img:hover {
    transform: scale(1.1);
  }

  .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

  .lightbox img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}

.lightbox .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lightbox .prev:hover,
.lightbox .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.lightbox .prev {
  left: 15px;
}

.lightbox .next {
  right: 15px;
}

  @media screen and (max-width: 1200px) {
    .gallery-item {
      width: calc(25% - 10px);
    }
  }

  @media screen and (max-width: 992px) {
    .gallery-item {
      width: calc(33.33% - 10px);
    }
  }

  @media screen and (max-width: 768px) {
    .gallery-item {
      width: calc(50% - 10px);
    }
  }

  @media screen and (max-width: 480px) {
    .gallery-item {
      width: calc(100% - 10px);
    }
  }