* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    background: #000;
    color: #FFF;
    position: relative;
    z-index: 2;
}
.navbar {
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;
}
.navbar p a,
.navbar ul li a {
    text-decoration:none;
	color: #FFF;
}
.navbar ul {
    display: flex;
}
.navbar ul li a {
    padding: 0 16px;
    transition: all 0.2s ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a:focus {
    color: #daf4d4;
}

/* Hamburger Menu*/
#navcheck,
.nav-btn,
.backdrop {
	color:#FFF;
    display: none;
	
}
.nav-btn {
	color:#FFF;
    position: fixed;
    right: 24px;
    top: 26px;
    z-index: 99;
}
.nav-btn label span {
	color:#FFF;
    display: block;
    width: 30px;
    height: 1.5px;
    background: #FFF;
    border-radius: 3px;
    transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out, -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    position: relative;
}
.nav-btn label span:not(:last-child) {
    margin-bottom: 7px;
}

@media (max-width: 992px) {
    .nav-menu {
        display: none !important;
    }
    .nav-btn {
		color:#FFF;
        display: block;
    }
    .navbar ul li a {
        color: #303030;
        width: 100%;
        display: block;
        padding: 16px;
    }
    #navcheck {
		color:#FFF;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 72px;
        height: 72px;
        z-index: 999;
        cursor: pointer;
        margin: 0;
        display: block;
    }
    input#navcheck:checked ~ .nav-btn label span:first-child {
        -webkit-transform: rotate(45deg) translate(6px, 6px);
        transform: rotate(45deg) translate(6px, 6px);
        top: 0;
        left: 0;
    }
    input#navcheck:checked ~ .nav-btn label span:last-child {
        -webkit-transform: rotate(-45deg) translate(6px, -6px);
        transform: rotate(-45deg) translate(6px, -6px);
        top: 0;
        left: 0;
    }
    input#navcheck:checked ~ .nav-btn label span:nth-child(2) {
        opacity: 0;
    }
    input#navcheck:checked ~ .header .navbar .nav-menu {
        display: block !important;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    input#navcheck:checked ~ .backdrop {
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.36);
        width: 100%;
        height: calc(100% - 72px);
        z-index: 1;
    }
}


/* Set hamburger icon color to black on black background */
.header.navbar {
    background-color: #000; /* Set background color to black */
}
.header.navbar .nav-btn label span {
    background-color: #000; /* Set background color of hamburger icon to black */
    transition: background-color 0.3s ease-in-out;
}